h1(style="margin: 100px;font-size: 50px") We have surveys!
h2(style="margin: 0 100px;font-size: 40px") Plese choose a survey to see details
ul(style="margin: 0 100px;font-size: 30px; font-spacing: 5px") Survey 1: #{name1}
    li Participant count: #{participant_count1}
    li Response Rate: #{response_rate1}%
    li Submitted Responses: #{submitted_response_count1}

ul(style="margin: 0 100px;font-size: 30px; font-spacing: 5px") Survey 2: #{name2}
    li Participant count: #{participant_count2}
    li Response Rate: #{response_rate2}%
    li Submitted Responses: #{submitted_response_count2}
  
